body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.image-container {
    width: 100%;
    height: auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
